/* css 초기설정 */

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: "Nanum Gothic", sans-serif;
}

ul, li, ol { list-style: none;} 

a { color: #282828; }

html, body { background-color: #f1f2f3; }

.bar { height: 3px; margin: 0 auto; background-color: #ff3d3d; }

/* nav */

.nav-left { background-color: #181818; }
.nav-right { background-color: #2e2e2e; }

.nav-title { font-size: 1.6rem; color: #ff5858; }
.nav-menu { font-size: .95rem; color: #868686; }
.nav-menu > ul > li { margin-top: 1.3rem; cursor: pointer; height: 100%; }
.nav-menu > ul > li > p { float: left; padding: 7px 10px; margin-top: 1rem; }
.nav-menu > ul > li > p:hover {
    background-color: #424242;

    color: white; 
    
    border-left: 3px solid #ff5858; 
}
.nav-menu > ul > li > p:hover + ul, .nav-sub-menu:hover{ display: block; }
.nav-menu > ul > li > p > img { width: 8%; margin: 0 0 5px 7px; }

.nav-sub-menu { background-color: #282828; display: none; }
.nav-sub-menu > li { padding: 15px 10px; }
.nav-sub-menu > li:hover { background-color: #191919; color: white; }

/* header */

header { height: 240px; background-color: #ffffff;  }
.header-top-container { padding: 0 50px; }
.header-top { height: 35px; background-color: #f1f2f3; color: #4e4e4e; }
.header-link > a, .header-form > a { 
    font-size: .8em; 
    line-height: 35px; 
    color: #4e4e4e; 
    
    padding: 0 5px; 
}
.header-main { border-bottom: 2px solid #a8a8a8; }

#search { height: 50px; font-size: .9em; }
#search-icon { left: 55%; top: 65%; cursor: pointer; } 

/* bener */

.bener-form { height: 140px; }
.bener-slider { font-size: .95em; line-height: 25px; position: relative; }
.bener-slider > div { position: absolute; }
.bener-slider > div:nth-child(1) { transform: translate(-100%); animation: 21s bener-slider infinite; animation-delay: -7s }
.bener-slider > div:nth-child(2) { transform: translate(0); animation: 21s bener-slider infinite; animation-delay: 0s }
.bener-slider > div:nth-child(3) { transform: translate(100%); animation: 21s bener-slider infinite; animation-delay: -14s }

@keyframes bener-slider {
    0% { transform: translate(-100%); } 
    33.333% { transform: translate(-100%); }  
    44.444% { transform: translate(0%); }    
    66.666% { transform: translate(0%); }   
    77.777% { transform: translate(100%); } 
    99.999% { transform: translate(100%); } 
    100% { transform: translate(-100%); }  
}

.bener { height: 110px; float: left; }

/*  */

.header-footer { box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2); }
.header-footer-container > ul { margin: 0 auto; }
.header-footer-container > ul > li { padding: 20px 20px; cursor: pointer; }

/* section */

/* visual */

#visual { height: 530px; }

input[name=slide-checkbox] { display: none; }
.slide-checkbox { height: 10px; left: 50%; top: 78%; transform: translate(-50%, -50%);}
.slide-checkbox > label { background-color: #ffffff; border-radius: 15px;  cursor: pointer; }
#slide-checkbox1:checked ~ .slide-checkbox > label:nth-child(1) { background-color: #ff5858; }
#slide-checkbox2:checked ~ .slide-checkbox > label:nth-child(2) { background-color: #ff5858; }
#slide-checkbox3:checked ~ .slide-checkbox > label:nth-child(3) { background-color: #ff5858; }

.visual-slider { transition:1s; }
.visual-slider > div { box-shadow: 0 2px 7px 0 rgba(0,0,0,0.2); }
.visual-slider > div:nth-child(1) { transform: translate(-100%, 5%); }
.visual-slider > div:nth-child(2) { transform: translate(0%, 5%); }
.visual-slider > div:nth-child(3) { transform: translate(100%, 5%); } 
#slide-checkbox1:checked ~ .visual-slider-form > .visual-slider { left: 100%; }
#slide-checkbox2:checked ~ .visual-slider-form > .visual-slider { left: 0%; }
#slide-checkbox3:checked ~ .visual-slider-form > .visual-slider { left: -100%; }

/*  */

/* imaging-process */

#imaging-process { height: 480px; background-color: #ffffff; }
.imaging-process-title { margin: 0 auto; font-size: 1.3em; }
.imaging-process-title > p > span { font-size: 1.5em; } 

.imaging-process-main{
    height: 200px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;

    margin: 0 auto;
}
.imaging-process-main > img { height: 100%; }

.imaging-process-footer { margin: 0 auto; }

/*  */

/* recommendation */

#recommendation { height: 600px; }
.recommendation-title { margin: 0 auto; font-size: 1.78em; }
.recommendation-title > p > span { font-size: 1.05em; }

.recommendation-main { 
    height: 300px; 
    background-color: #ffffff; 

    font-size: 1.3em;
    line-height: 60px;

    margin: 0 auto; 
    padding: 3rem 5rem 5rem 5rem;
    box-shadow: 0 10px 19px 1px rgba(0,0,0,0.2);
}
.recommendation-main > p > span { font-family: "Headline R", sans-serif; }

/*  */

/* discrimination */

#discrimination { 
    height: 190px; 

    background-image: url(../images/discrimination/discrimination.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.discrimination-left { font-size: 1.5em; line-height: 45px; color: #e5e5e5; margin-left: 15rem; }
.discrimination-right { font-size: 1.1em; line-height: 35px; color: #313131; margin-left: 5rem; }

/*  */

/* popularity */

#popularity { height: 2000px; background-color: #ebebeb; margin-top: 150px; }
.popularity-title { font-size: 1.6em; margin: 0 auto; }
.popularity-main { 
    height: 1700px; 
    
    display: grid;
    grid-template-columns: 23fr 1fr 23fr;
    grid-template-rows: repeat(4, 3fr 1fr) 3fr;

    margin: 0 auto;
}
.popularity-main > img { width: 100%; }
.item:nth-child(1) { grid-column: 1/3; grid-row: 1/2; }
.item:nth-child(2) { grid-column: 2/4; grid-row: 1/2; }
.item:nth-child(3) { grid-column: 1/3; grid-row: 3/4; }
.item:nth-child(4) { grid-column: 2/4; grid-row: 3/4; }
.item:nth-child(5) { grid-column: 1/3; grid-row: 5/6; }
.item:nth-child(6) { grid-column: 2/4; grid-row: 5/6; }
.item:nth-child(7) { grid-column: 1/3; grid-row: 7/8; }
.item:nth-child(8) { grid-column: 2/4; grid-row: 7/8; }
.item:nth-child(9) { grid-column: 1/3;grid-row: 9/10; }
.item:nth-child(10) { grid-column: 2/4; grid-row: 9/10; }

.explanation-1 { background-color: #97c2ec; z-index: 100; }
.explanation-2 { background-color: #b1a1df; z-index: 100; }
.explanation-3 { background-color: #b1a1df; z-index: 100; }
.explanation-4 { background-color: #7cc576; z-index: 100; }
.explanation-5 { background-color: #d0ae81; z-index: 100; }